<div class="modal-overlay">
    <div class="modal">
        <img src="assets/title-assests/Logo.jpg" alt="logo">
        <label class="WorkoutNameLabel" htmlFor="workoutName">Workout Name:</label>
        <input #workoutName [(ngModel)]="workout.workoutName" class="workoutNameInput" id="workoutName" type="text" placeholder="i.e. chest day">
        <label class="workoutGoalLabel" htmlFor="workoutGoal">Workout Goal</label>
        <select #workoutGoal [(ngModel)]="workout.workoutGoal" class="workoutGoalSelect" id="workoutGoal">
            <option value="">Select...</option>
            <option>Increase Muscle</option>
            <option>Increase Strength</option>
            <option>Lean up</option>
        </select>
        <label class="cardioLabel" htmlFor="cardio">Add Cardio To Workout:</label>
        <select #cardio [(ngModel)]="workout.cardio" class="cardioSelect" id="cardio">
            <option value="">Select...</option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <div class="btn-container">
            <button class="btn" (click)="edit()">Save</button>
            <button class="btn-danger" (click)="closeModal.emit()">Cancel</button>
        </div>
    </div>
</div>
