<div class="workout-card-container">
    <div class="skills-card">
        <div class="card-title"> 
         <h1>Workout Name</h1>
        </div> 
         <ul class="skills-list">
             <li>HTML</li>
             <li>CSS</li>
             <li>Javascript</li>
             <li>React</li>
             <li>Three.js</li>
             <li>Bootstrap</li>
             <li>TailwindCSS</li>
             <li>Sass</li>                 
             <li>jQuery</li>
         </ul>
     </div>
</div>
